@tailwind utilities;
@tailwind components;
@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,400;1,100&family=Poppins:wght@200;300;500&family=Work+Sans:wght@200;300;400&display=swap');

.completed {
   text-decoration: line-through;
}

.fade-in {
   animation: fade-in 1s;
 }
 
.fade-in-fast {
animation: fade-in 0.3s;
}

.fade-in-slow {
animation: fade-in 1.5s;
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
 
@keyframes fade-in-fast {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-in-slow {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}